.posts-list {
    >div {
        margin-bottom: 15px;
    }
}

.ranking-table {
    >div {
        transition: all 0.5s;
        display: flex;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;

        >span {
            &:first-child {
                text-align: center;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #ccc;
                margin-right: 10px;
                line-height: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 3px 3px 3px #ddd;
                font-weight: 500;
            }

            &:last-child {
                margin-left: auto;
            }
        }

        &:nth-child(1) {
            >span {
                &:first-child {
                    background-color: #FFD700;
                    font-size: 1.3rem;
                }
            }

            // font-size: xx-large;
        }

        &:nth-child(2) {
            >span {
                &:first-child {
                    background-color: #C0C0C0;
                    font-size: 1.2rem;
                }
            }

            // font-size: x-large;
        }

        &:nth-child(3) {
            >span {
                &:first-child {
                    background-color: #CD7F32;
                    font-size: 1.1rem;
                }
            }

            // font-size: larger;
        }
    }
}